<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.marvelcomics.brito.marvel">


    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:supportsRtl="true"
        tools:targetApi="n">
        <activity
            android:name=".legacy.ui.details.DetailCharacterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".compose.home.HomeComposeActivity"
            android:label="@string/title_activity_home_compose" />
        <activity
            android:name=".legacy.ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"/>
        <activity
            android:name=".legacy.ui.home.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".legacy.ui.search.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>